* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* variables */
  --backgroundimg: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
  --base_font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --hero-color-main: #9611ff;
  --white: white;
  --animation_timing: 0.2s all linear;
  --orange_border: 1px solid orange;
}

body {
  background: var(--backgroundimg) var(--hero-color-main);
  background-blend-mode: color-dodge;
  /* height should be equals to device height */
  height: 100vh;
  width: 100%;
  max-height: 1560px;
  max-width: 1560px;
  font-family: var(--base_font);
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: auto;
  padding: 16px;
  justify-content: space-between;
}

.player {
  border-radius: 26px;
  padding: 4px 8px;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  margin: 0 10px;
}

.avatar {
  height: auto;
  width: 100%;
  max-width: 40px;
}

.score {
  font-size: 26px;
  margin-right: 16px;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--white);
  padding: 8px;
  text-align: center;
  background-color: rgb(63, 0, 122);
}

footer a {
  color: var(--white);
}

/* main - game area */
main {
  width: 100%;
  margin-top: 30px;
  justify-content: space-around;
}

.move {
  height: auto;
  width: 100%;
  max-width: 400px;
  background-color: var(--white);
  padding: 50px;
  border-radius: 50%;
}

/* Popup menu */
.popup {
  --bg_img: url(https://www.toptal.com/designers/subtlepatterns/uploads/circle-blues.png);
  height: auto;
  width: 100%;
  padding: 20px;
  border: var(--orange_border);
  border-width: 10px;
  background: var(--bg_img) gold;
  background-blend-mode: color-dodge;
  justify-content: center;
  align-items: center;
}

.popup [type="radio"] {
  display: none;
}

/* Player registration */
.registration {
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.registration input,
.registration label {
  outline: none;
  border: var(--orange_border);
  border-width: 5px;
  background-color: rgb(255, 238, 0);
  padding: 2px 4px;
  margin: 4px;
  color: rgb(135, 88, 0);
  text-transform: uppercase;
  font-style: italic;
  font-weight: bolder;
}

.registration input[type="name"] {
  color: var(--hero-color-main);
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gender {
  justify-content: space-between;
}

.gender label {
  width: 48%;
  text-align: center;
}

/* Player choice */
.choice img {
  height: auto;
  width: 100%;
  max-width: 100px;
}

.choice {
  width: 100%;
  max-width: 600px;
  justify-content: space-around;
}

.choice label {
  outline: none;
  border: var(--orange_border);
  border-width: 5px;
  background-color: rgb(255, 238, 0);
  padding: 30px;
  border-radius: 50%;
}

.choice label:hover {
  border-color: var(--hero-color-main);
  background-color: white;
  transition: 0.2s all linear;
}
